<div id="login">
  <h3 class="text-center text-white pt-5">Login form</h3>
  <div class="container">
    <div id="login-row" class="row justify-content-center align-items-center">
      <div id="login-column" class="col-md-6">
        <div id="login-box" class="col-md-12">
          <form id="login-form" class="form" action="" method="post">
            <h3 class="text-center text-info">USER</h3>
            <div class="form-group">
              <label for="role" class="text-info">Role:</label><br />
              <!-- <input type="text" name="role" id="role" class="form-control" /> -->
              <select class="form-control">
                <option>Select Role</option>
                <option *ngFor="let role of roles">{{ role }}</option>
              </select>
            </div>
            <div class="form-group">
              <label for="calSeg" class="text-info">Calender Segment:</label
              ><br />
              <!-- <input
                type="text"
                name="calSeg"
                id="calSeg"
                class="form-control"
              /> -->
              <select class="form-control">
                <option>Select Zone</option>
                <option *ngFor="let zone of zones">{{ zone }}</option>
              </select>
            </div>
            <div class="form-group">
              <!-- <label for="remember-me" class="text-info"
                ><span>Remember me</span> <span
                  ><input
                    id="remember-me"
                    name="remember-me"
                    type="checkbox" /></span></label
              ><br /> -->
              <input
                type="submit"
                name="submit"
                class="btn btn-info btn-md"
                value="submit"
              />
            </div>
            <!-- <div id="register-link" class="text-right">
              <a href="#" class="text-info">Register here</a>
            </div> -->
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
